#1. Pandas Problem

## Basic Exploration
Load the dataset into a Pandas DataFrame. Display:


○ The first 10 rows


○ The total number of rows and columns


○ Summary statistics for numerical columns

In [206]:
import pandas as pd

In [207]:
data = pd.read_csv('auto-mpg.csv')

In [208]:
data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [209]:
data.head(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
5,15.0,8,429.0,198,4341,10.0,70,1,ford galaxie 500
6,14.0,8,454.0,220,4354,9.0,70,1,chevrolet impala
7,14.0,8,440.0,215,4312,8.5,70,1,plymouth fury iii
8,14.0,8,455.0,225,4425,10.0,70,1,pontiac catalina
9,15.0,8,390.0,190,3850,8.5,70,1,amc ambassador dpl

In [210]:
data.shape

(398, 9)

In [211]:
data.describe()

,mpg,cylinders,displacement,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

## 2. Filtering and Indexing
Find all cars manufactured in 1975 with a weight less than 3000. Return the
DataFrame with selected columns: car_name, weight, and mpg.

In [212]:
less_weight = data['weight'] < 3000

In [213]:
data[less_weight]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
14,24.0,4,113.0,95,2372,15.0,70,3,toyota corona mark ii
15,22.0,6,198.0,95,2833,15.5,70,1,plymouth duster
16,18.0,6,199.0,97,2774,15.5,70,1,amc hornet
17,21.0,6,200.0,85,2587,16.0,70,1,ford maverick
18,27.0,4,97.0,88,2130,14.5,70,3,datsun pl510
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [214]:
filtered_data = data[(data['model year']== 75) & (data['weight']< 3000)]
filtered_data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
167,29.0,4,97.0,75,2171,16.0,75,3,toyota corolla
168,23.0,4,140.0,83,2639,17.0,75,1,ford pinto
169,20.0,6,232.0,100,2914,16.0,75,1,amc gremlin
170,23.0,4,140.0,78,2592,18.5,75,1,pontiac astro
171,24.0,4,134.0,96,2702,13.5,75,3,toyota corona
172,25.0,4,90.0,71,2223,16.5,75,2,volkswagen dasher
173,24.0,4,119.0,97,2545,17.0,75,3,datsun 710
174,18.0,6,171.0,97,2984,14.5,75,1,ford pinto
175,29.0,4,90.0,70,1937,14.0,75,2,volkswagen rabbit
177,23.0,4,115.0,95,2694,15.0,75,2,audi 100ls
178,23.0,4,120.0,88,2957,17.0,75,2,peugeot 504
179,22.0,4,121.0,98,2945,14.5,75,2,volvo 244dl
180,25.0,4,121.0,115,2671,13.5,75,2,saab 99le
181,33.0,4,91.0,53,1795,17.5,75,3,honda civic cvcc

In [215]:
result_data = filtered_data[['car name','weight','mpg']]
result_data

              car name  weight   mpg
167     toyota corolla    2171  29.0
168         ford pinto    2639  23.0
169        amc gremlin    2914  20.0
170      pontiac astro    2592  23.0
171      toyota corona    2702  24.0
172  volkswagen dasher    2223  25.0
173         datsun 710    2545  24.0
174         ford pinto    2984  18.0
175  volkswagen rabbit    1937  29.0
177         audi 100ls    2694  23.0
178        peugeot 504    2957  23.0
179        volvo 244dl    2945  22.0
180          saab 99le    2671  25.0
181   honda civic cvcc    1795  33.0

## 3.Handling Missing Data
Identify if there are any missing values in the dataset. Replace missing values in the
horsepower column with the column's median.

In [216]:
data.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [217]:
import numpy as np

In [218]:
data.replace('?',np.nan,inplace = True)

In [219]:
data['horsepower'] = pd.to_numeric(data['horsepower'],errors= 'coerce')

In [220]:
data.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [221]:
median_hp = data['horsepower'].median()

In [222]:
data['horsepower'].fillna(median_hp,inplace = True)

/tmp/ipython-input-1783760947.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['horsepower'].fillna(median_hp,inplace = True)

In [223]:
data['horsepower']

0      130.0
1      165.0
2      150.0
3      150.0
4      140.0
       ...
393     86.0
394     52.0
395     84.0
396     79.0
397     82.0
Name: horsepower, Length: 398, dtype: float64

## 4. Data Transformation
Add a new column power_to_weight_ratio, calculated as horsepower / weight.

In [224]:
data['power_to_weight_ratio'] = data['horsepower']/data['weight']

In [225]:
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,power_to_weight_ratio
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu,0.037100
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320,0.044679
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite,0.043655
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst,0.043694
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino,0.040591

## 5. Group By
Group the cars by origin and calculate the mean mpg for each group.

In [226]:
g= data.groupby('origin')

In [227]:
g

In [228]:
g['mpg'].mean()

origin
1    20.083534
2    27.891429
3    30.450633
Name: mpg, dtype: float64

## 6.Sorting
Sort the DataFrame by mpg in descending order and display the top 10 cars with
the highest mpg.

In [229]:
data.sort_values(by='mpg',ascending = False)[['car name','mpg']][0:10]

                            car name   mpg
322                        mazda glc  46.6
329              honda civic 1500 gl  44.6
325             vw rabbit c (diesel)  44.3
394                        vw pickup  44.0
326               vw dasher (diesel)  43.4
244  volkswagen rabbit custom diesel  43.1
309                        vw rabbit  41.5
330             renault lecar deluxe  40.9
324                       datsun 210  40.8
247                   datsun b210 gx  39.4

##7. Apply Function
Create a new column performance_score using a custom function:

Apply this function to each row and store the result in the new column.

In [230]:
def performance_score(row):
  return row['mpg'] * row['acceleration'] / row['weight']

In [231]:
data['performance_score'] = data.apply(performance_score,axis=1)

In [232]:
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,power_to_weight_ratio,performance_score
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu,0.037100,0.061644
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320,0.044679,0.046710
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite,0.043655,0.057625
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst,0.043694,0.055928
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino,0.040591,0.051754

## 8. Visualization Preparation
Generate a summary DataFrame with:
○ Average mpg, weight, and horsepower for each model_year.

In [233]:
summary_data = data.groupby('model year')

In [234]:
summary_data

In [235]:
summary_data[['mpg','weight','horsepower']].mean()

                  mpg       weight  horsepower
model year
70          17.689655  3372.793103  147.827586
71          21.250000  2995.428571  106.553571
72          18.714286  3237.714286  120.178571
73          17.100000  3419.025000  130.475000
74          22.703704  2877.925926   94.203704
75          20.266667  3176.800000  101.066667
76          21.573529  3078.735294  101.117647
77          23.375000  2997.357143  105.071429
78          24.061111  2861.805556   99.694444
79          25.093103  3055.344828  101.206897
80          33.696552  2436.655172   78.586207
81          30.334483  2522.931034   81.465517
82          31.709677  2453.548387   81.854839

## 9. Exporting Data
Save a subset of the data containing only mpg, cylinders, horsepower, and weight
for cars with mpg > 30 into a CSV file named high_mpg_cars.csv.

In [236]:
high_mpg_cars = data['mpg'] > 30
data[high_mpg_cars][['mpg','cylinders','horsepower','weight']]

      mpg  cylinders  horsepower  weight
53   31.0          4        65.0    1773
54   35.0          4        69.0    1613
129  31.0          4        67.0    1950
131  32.0          4        65.0    1836
144  31.0          4        52.0    1649
..    ...        ...         ...     ...
390  32.0          4        96.0    2665
391  36.0          4        84.0    2370
394  44.0          4        52.0    2130
395  32.0          4        84.0    2295
397  31.0          4        82.0    2720

[85 rows x 4 columns]

In [237]:
high_mpg_cars.to_csv('high_mpg_cars.csv',index = False)

##  10. Finding Anomalies

Identify potential outliers in the mpg column using the Interquartile Range (IQR)
method. Specifically:


● Calculate the IQR for mpg.

● Define outliers as values less than Q1 - 1.5 * IQR or greater than Q3 +
1.5 * IQR.


● Create a DataFrame of cars classified as outliers, displaying car_name, mpg,
and model_year.

In [238]:
Q1 = data['mpg'].quantile(0.25)
Q3 = data['mpg'].quantile(0.75)
IQR = Q3 - Q1
print(f'\n lower Quartile is',Q1)
print(f'\n upper Quartle is',Q3)
print('\n IQR is',IQR)

 lower Quartile is 17.5

 upper Quartle is 29.0

 IQR is 11.5

In [239]:
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
print(f'\n lower bound is',lower_bound)
print(f'\n upper bound is',upper_bound)

 lower bound is 0.25

 upper bound is 46.25

In [240]:
outlier_data = data[(data['mpg'] < lower_bound) | (data['mpg']> upper_bound)][['car name','mpg','model year']]

In [241]:
outlier_data

      car name   mpg  model year
322  mazda glc  46.6          80

#**NumPy Problems**


1 Basic Array Operations
Convert the mpg column into a NumPy array and calculate:

○ The mean, median, and standard deviation of mpg.

○ The number of cars with mpg greater than 25.

In [242]:
import numpy as np

In [243]:
mpg_array = data['mpg'].to_numpy()

In [244]:
mpg_array

array([18. , 15. , 18. , 16. , 17. , 15. , 14. , 14. , 14. , 15. , 15. ,
       14. , 15. , 14. , 24. , 22. , 18. , 21. , 27. , 26. , 25. , 24. ,
       25. , 26. , 21. , 10. , 10. , 11. ,  9. , 27. , 28. , 25. , 25. ,
       19. , 16. , 17. , 19. , 18. , 14. , 14. , 14. , 14. , 12. , 13. ,
       13. , 18. , 22. , 19. , 18. , 23. , 28. , 30. , 30. , 31. , 35. ,
       27. , 26. , 24. , 25. , 23. , 20. , 21. , 13. , 14. , 15. , 14. ,
       17. , 11. , 13. , 12. , 13. , 19. , 15. , 13. , 13. , 14. , 18. ,
       22. , 21. , 26. , 22. , 28. , 23. , 28. , 27. , 13. , 14. , 13. ,
       14. , 15. , 12. , 13. , 13. , 14. , 13. , 12. , 13. , 18. , 16. ,
       18. , 18. , 23. , 26. , 11. , 12. , 13. , 12. , 18. , 20. , 21. ,
       22. , 18. , 19. , 21. , 26. , 15. , 16. , 29. , 24. , 20. , 19. ,
       15. , 24. , 20. , 11. , 20. , 21. , 19. , 15. , 31. , 26. , 32. ,
       25. , 16. , 16. , 18. , 16. , 13. , 14. , 14. , 14. , 29. , 26. ,
       26. , 31. , 32. , 28. , 24. , 26. , 24. , 26. , 31. , 19. , 18. ,
       15. , 15. , 16. , 15. , 16. , 14. , 17. , 16. , 15. , 18. , 21. ,
       20. , 13. , 29. , 23. , 20. , 23. , 24. , 25. , 24. , 18. , 29. ,
       19. , 23. , 23. , 22. , 25. , 33. , 28. , 25. , 25. , 26. , 27. ,
       17.5, 16. , 15.5, 14.5, 22. , 22. , 24. , 22.5, 29. , 24.5, 29. ,
       33. , 20. , 18. , 18.5, 17.5, 29.5, 32. , 28. , 26.5, 20. , 13. ,
       19. , 19. , 16.5, 16.5, 13. , 13. , 13. , 31.5, 30. , 36. , 25.5,
       33.5, 17.5, 17. , 15.5, 15. , 17.5, 20.5, 19. , 18.5, 16. , 15.5,
       15.5, 16. , 29. , 24.5, 26. , 25.5, 30.5, 33.5, 30. , 30.5, 22. ,
       21.5, 21.5, 43.1, 36.1, 32.8, 39.4, 36.1, 19.9, 19.4, 20.2, 19.2,
       20.5, 20.2, 25.1, 20.5, 19.4, 20.6, 20.8, 18.6, 18.1, 19.2, 17.7,
       18.1, 17.5, 30. , 27.5, 27.2, 30.9, 21.1, 23.2, 23.8, 23.9, 20.3,
       17. , 21.6, 16.2, 31.5, 29.5, 21.5, 19.8, 22.3, 20.2, 20.6, 17. ,
       17.6, 16.5, 18.2, 16.9, 15.5, 19.2, 18.5, 31.9, 34.1, 35.7, 27.4,
       25.4, 23. , 27.2, 23.9, 34.2, 34.5, 31.8, 37.3, 28.4, 28.8, 26.8,
       33.5, 41.5, 38.1, 32.1, 37.2, 28. , 26.4, 24.3, 19.1, 34.3, 29.8,
       31.3, 37. , 32.2, 46.6, 27.9, 40.8, 44.3, 43.4, 36.4, 30. , 44.6,
       40.9, 33.8, 29.8, 32.7, 23.7, 35. , 23.6, 32.4, 27.2, 26.6, 25.8,
       23.5, 30. , 39.1, 39. , 35.1, 32.3, 37. , 37.7, 34.1, 34.7, 34.4,
       29.9, 33. , 34.5, 33.7, 32.4, 32.9, 31.6, 28.1, 30.7, 25.4, 24.2,
       22.4, 26.6, 20.2, 17.6, 28. , 27. , 34. , 31. , 29. , 27. , 24. ,
       23. , 36. , 37. , 31. , 38. , 36. , 36. , 36. , 34. , 38. , 32. ,
       38. , 25. , 38. , 26. , 22. , 32. , 36. , 27. , 27. , 44. , 32. ,
       28. , 31. ])

In [245]:
mpg_mean = np.mean(mpg_array)

In [246]:
mpg_median = np.median(mpg_array)

In [247]:
mpg_std_deviation = np.std(mpg_array)

In [248]:
print(f'\n mean of mpg is',mpg_mean)
print(f'\n median of mpg is',mpg_median)
print(f'\n standard deviation of mpg is',mpg_std_deviation)

 mean of mpg is 23.514572864321607

 median of mpg is 23.0

 standard deviation of mpg is 7.806159061274433

In [249]:
count_high_mpg_cars = np.sum(mpg_array > 25)
print(f'\n number of cars with mpg greater than 25 is:',count_high_mpg_cars)

 number of cars with mpg greater than 25 is: 158

## 2. Filtering
Using NumPy, filter all cars with more than 6 cylinders.


Return the corresponding car_name as a list.

In [250]:
cylinders_array = data['cylinders'].to_numpy()

In [251]:
cylinders_array

array([8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 4, 6, 6, 6, 4, 4, 4, 4,
       4, 4, 6, 8, 8, 8, 8, 4, 4, 4, 4, 6, 6, 6, 6, 6, 8, 8, 8, 8, 8, 8,
       8, 6, 4, 6, 6, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 8, 8, 8, 8,
       8, 8, 8, 8, 8, 3, 8, 8, 8, 8, 4, 4, 4, 4, 4, 4, 4, 4, 4, 8, 8, 8,
       8, 8, 8, 8, 8, 8, 8, 8, 8, 6, 6, 6, 6, 6, 4, 8, 8, 8, 8, 6, 4, 4,
       4, 3, 4, 6, 4, 8, 8, 4, 4, 4, 4, 8, 4, 6, 8, 6, 6, 6, 6, 4, 4, 4,
       4, 6, 6, 6, 8, 8, 8, 8, 8, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 6, 6,
       6, 6, 8, 8, 8, 8, 6, 6, 6, 6, 6, 8, 8, 4, 4, 6, 4, 4, 4, 4, 6, 4,
       6, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 8, 8, 8, 8, 6, 6, 6, 6, 4, 4, 4,
       4, 6, 6, 6, 6, 4, 4, 4, 4, 4, 8, 4, 6, 6, 8, 8, 8, 8, 4, 4, 4, 4,
       4, 8, 8, 8, 8, 6, 6, 6, 6, 8, 8, 8, 8, 4, 4, 4, 4, 4, 4, 4, 4, 6,
       4, 3, 4, 4, 4, 4, 4, 8, 8, 8, 6, 6, 6, 4, 6, 6, 6, 6, 6, 6, 8, 6,
       8, 8, 4, 4, 4, 4, 4, 4, 4, 4, 5, 6, 4, 6, 4, 4, 6, 6, 4, 6, 6, 8,
       8, 8, 8, 8, 8, 8, 8, 4, 4, 4, 4, 5, 8, 4, 8, 4, 4, 4, 4, 4, 6, 6,
       4, 4, 4, 4, 4, 4, 4, 4, 6, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 4, 4,
       4, 4, 4, 6, 3, 4, 4, 4, 4, 4, 4, 6, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
       4, 4, 4, 4, 4, 4, 4, 4, 6, 6, 6, 6, 8, 6, 6, 4, 4, 4, 4, 4, 4, 4,
       4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 6, 6, 4, 6, 4, 4, 4, 4, 4, 4,
       4, 4])

In [252]:
mask = cylinders_array > 6  # Create a boolean mask for cars with more than 6 cylinders

In [253]:
carname_array = data['car name'].to_numpy()[mask]   ## Apply the mask to get corresponding car names

In [254]:
car_names = carname_array.tolist()

In [255]:
print(car_names)

['chevrolet chevelle malibu', 'buick skylark 320', 'plymouth satellite', 'amc rebel sst', 'ford torino', 'ford galaxie 500', 'chevrolet impala', 'plymouth fury iii', 'pontiac catalina', 'amc ambassador dpl', 'dodge challenger se', "plymouth 'cuda 340", 'chevrolet monte carlo', 'buick estate wagon (sw)', 'ford f250', 'chevy c20', 'dodge d200', 'hi 1200d', 'chevrolet impala', 'pontiac catalina brougham', 'ford galaxie 500', 'plymouth fury iii', 'dodge monaco (sw)', 'ford country squire (sw)', 'pontiac safari (sw)', 'chevrolet impala', 'pontiac catalina', 'plymouth fury iii', 'ford galaxie 500', 'amc ambassador sst', 'mercury marquis', 'buick lesabre custom', 'oldsmobile delta 88 royale', 'chrysler newport royal', 'amc matador (sw)', 'chevrolet chevelle concours (sw)', 'ford gran torino (sw)', 'plymouth satellite custom (sw)', 'buick century 350', 'amc matador', 'chevrolet malibu', 'ford gran torino', 'dodge coronet custom', 'mercury marquis brougham', 'chevrolet caprice classic', 'ford ltd', 'plymouth fury gran sedan', 'chrysler new yorker brougham', 'buick electra 225 custom', 'amc ambassador brougham', 'chevrolet impala', 'ford country', 'plymouth custom suburb', 'oldsmobile vista cruiser', 'chevrolet monte carlo s', 'pontiac grand prix', 'dodge dart custom', 'oldsmobile omega', 'ford gran torino', 'buick century luxus (sw)', 'dodge coronet custom (sw)', 'ford gran torino (sw)', 'amc matador (sw)', 'pontiac catalina', 'chevrolet bel air', 'plymouth grand fury', 'ford ltd', 'chevrolet monza 2+2', 'ford mustang ii', 'chevrolet chevelle malibu classic', 'dodge coronet brougham', 'amc matador', 'ford gran torino', 'plymouth volare premier v8', 'cadillac seville', 'chevy c10', 'ford f108', 'dodge d100', 'chevrolet caprice classic', 'oldsmobile cutlass supreme', 'dodge monaco brougham', 'mercury cougar brougham', 'pontiac grand prix lj', 'chevrolet monte carlo landau', 'chrysler cordoba', 'ford thunderbird', 'oldsmobile cutlass salon brougham', 'dodge diplomat', 'mercury monarch ghia', 'chevrolet monte carlo landau', 'ford futura', 'dodge magnum xe', 'chevrolet caprice classic', 'ford ltd landau', 'mercury grand marquis', 'dodge st. regis', 'buick estate wagon (sw)', 'ford country squire (sw)', 'chevrolet malibu classic (sw)', 'chrysler lebaron town @ country (sw)', 'cadillac eldorado', 'oldsmobile cutlass salon brougham', 'oldsmobile cutlass ls']

##2.  Statistical Analysis
Compute the 25th, 50th, and 75th percentiles of the weight column using NumPy.

In [256]:
weight_array = data['weight'].to_numpy()

In [257]:
weight_array

array([3504, 3693, 3436, 3433, 3449, 4341, 4354, 4312, 4425, 3850, 3563,
       3609, 3761, 3086, 2372, 2833, 2774, 2587, 2130, 1835, 2672, 2430,
       2375, 2234, 2648, 4615, 4376, 4382, 4732, 2130, 2264, 2228, 2046,
       2634, 3439, 3329, 3302, 3288, 4209, 4464, 4154, 4096, 4955, 4746,
       5140, 2962, 2408, 3282, 3139, 2220, 2123, 2074, 2065, 1773, 1613,
       1834, 1955, 2278, 2126, 2254, 2408, 2226, 4274, 4385, 4135, 4129,
       3672, 4633, 4502, 4456, 4422, 2330, 3892, 4098, 4294, 4077, 2933,
       2511, 2979, 2189, 2395, 2288, 2506, 2164, 2100, 4100, 3672, 3988,
       4042, 3777, 4952, 4464, 4363, 4237, 4735, 4951, 3821, 3121, 3278,
       2945, 3021, 2904, 1950, 4997, 4906, 4654, 4499, 2789, 2279, 2401,
       2379, 2124, 2310, 2472, 2265, 4082, 4278, 1867, 2158, 2582, 2868,
       3399, 2660, 2807, 3664, 3102, 2875, 2901, 3336, 1950, 2451, 1836,
       2542, 3781, 3632, 3613, 4141, 4699, 4457, 4638, 4257, 2219, 1963,
       2300, 1649, 2003, 2125, 2108, 2246, 2489, 2391, 2000, 3264, 3459,
       3432, 3158, 4668, 4440, 4498, 4657, 3907, 3897, 3730, 3785, 3039,
       3221, 3169, 2171, 2639, 2914, 2592, 2702, 2223, 2545, 2984, 1937,
       3211, 2694, 2957, 2945, 2671, 1795, 2464, 2220, 2572, 2255, 2202,
       4215, 4190, 3962, 4215, 3233, 3353, 3012, 3085, 2035, 2164, 1937,
       1795, 3651, 3574, 3645, 3193, 1825, 1990, 2155, 2565, 3150, 3940,
       3270, 2930, 3820, 4380, 4055, 3870, 3755, 2045, 2155, 1825, 2300,
       1945, 3880, 4060, 4140, 4295, 3520, 3425, 3630, 3525, 4220, 4165,
       4325, 4335, 1940, 2740, 2265, 2755, 2051, 2075, 1985, 2190, 2815,
       2600, 2720, 1985, 1800, 1985, 2070, 1800, 3365, 3735, 3570, 3535,
       3155, 2965, 2720, 3430, 3210, 3380, 3070, 3620, 3410, 3425, 3445,
       3205, 4080, 2155, 2560, 2300, 2230, 2515, 2745, 2855, 2405, 2830,
       3140, 2795, 3410, 1990, 2135, 3245, 2990, 2890, 3265, 3360, 3840,
       3725, 3955, 3830, 4360, 4054, 3605, 3940, 1925, 1975, 1915, 2670,
       3530, 3900, 3190, 3420, 2200, 2150, 2020, 2130, 2670, 2595, 2700,
       2556, 2144, 1968, 2120, 2019, 2678, 2870, 3003, 3381, 2188, 2711,
       2542, 2434, 2265, 2110, 2800, 2110, 2085, 2335, 2950, 3250, 1850,
       1835, 2145, 1845, 2910, 2420, 2500, 2905, 2290, 2490, 2635, 2620,
       2725, 2385, 1755, 1875, 1760, 2065, 1975, 2050, 1985, 2215, 2045,
       2380, 2190, 2320, 2210, 2350, 2615, 2635, 3230, 3160, 2900, 2930,
       3415, 3725, 3060, 3465, 2605, 2640, 2395, 2575, 2525, 2735, 2865,
       3035, 1980, 2025, 1970, 2125, 2125, 2160, 2205, 2245, 1965, 1965,
       1995, 2945, 3015, 2585, 2835, 2665, 2370, 2950, 2790, 2130, 2295,
       2625, 2720])

In [258]:
percentile_25 = np.percentile(weight_array,25)
percentile_50 = np.percentile(weight_array,50)
percentile_75 = np.percentile(weight_array,75)

In [259]:
print(f'\n 25th percentile of weight is',percentile_25)
print(f'\n 50th percentile of weight is',percentile_50)
print(f'\n 75th percentile of weight is',percentile_75)

 25th percentile of weight is 2223.75

 50th percentile of weight is 2803.5

 75th percentile of weight is 3608.0

## 3. Array Manipulation
Convert the acceleration column into a NumPy array and normalize its values
(scale between 0 and 1).

In [260]:
accelaration_array = data['acceleration'].to_numpy()

In [261]:
accelaration_min = np.min(accelaration_array)
accelaration_max = np.max(accelaration_array)
accelaration_norm =  (accelaration_array - accelaration_min) /(accelaration_max-accelaration_min)

In [262]:
print(f'\n the normalised value is given by formula[ x-min(x)]/[max(x)-min(x)]',accelaration_norm)

 the normalised value is given by formula[ x-min(x)]/[max(x)-min(x)] [0.23809524 0.20833333 0.17857143 0.23809524 0.14880952 0.11904762
 0.05952381 0.0297619  0.11904762 0.0297619  0.11904762 0.
 0.08928571 0.11904762 0.41666667 0.44642857 0.44642857 0.47619048
 0.38690476 0.74404762 0.56547619 0.38690476 0.56547619 0.26785714
 0.41666667 0.35714286 0.41666667 0.32738095 0.625      0.38690476
 0.44642857 0.35714286 0.6547619  0.29761905 0.44642857 0.44642857
 0.44642857 0.44642857 0.23809524 0.20833333 0.32738095 0.29761905
 0.20833333 0.23809524 0.23809524 0.32738095 0.6547619  0.41666667
 0.38690476 0.35714286 0.35714286 0.68452381 0.38690476 0.6547619
 0.5952381  0.6547619  0.74404762 0.44642857 0.53571429 0.92261905
 0.68452381 0.50595238 0.23809524 0.23809524 0.32738095 0.29761905
 0.20833333 0.17857143 0.32738095 0.32738095 0.26785714 0.32738095
 0.26785714 0.35714286 0.47619048 0.35714286 0.38690476 0.5952381
 0.68452381 0.5952381  0.47619048 0.53571429 0.38690476 0.41666667
 0.50595238 0.29761905 0.20833333 0.29761905 0.38690476 0.26785714
 0.20833333 0.23809524 0.29761905 0.38690476 0.17857143 0.17857143
 0.17857143 0.50595238 0.5952381  0.47619048 0.50595238 0.47619048
 0.77380952 0.35714286 0.26785714 0.29761905 0.26785714 0.41666667
 0.6547619  0.68452381 0.50595238 0.32738095 0.625      0.35714286
 0.44642857 0.29761905 0.08928571 0.68452381 0.44642857 0.35714286
 0.44642857 0.17857143 0.35714286 0.32738095 0.17857143 0.50595238
 0.53571429 0.47619048 0.53571429 0.6547619  0.50595238 0.77380952
 0.53571429 0.53571429 0.5952381  0.50595238 0.35714286 0.38690476
 0.32738095 0.47619048 0.44642857 0.50595238 0.44642857 0.38690476
 0.50595238 0.6547619  0.38690476 0.44642857 0.35714286 0.41666667
 0.44642857 0.47619048 0.47619048 0.47619048 0.77380952 0.68452381
 0.20833333 0.35714286 0.38690476 0.32738095 0.77380952 0.625
 0.6547619  0.6547619  0.41666667 0.32738095 0.23809524 0.47619048
 0.53571429 0.47619048 0.625      0.32738095 0.50595238 0.53571429
 0.38690476 0.35714286 0.53571429 0.41666667 0.53571429 0.38690476
 0.32738095 0.56547619 0.44642857 0.5297619  0.41071429 0.57738095
 0.43452381 0.29761905 0.29761905 0.35119048 0.28571429 0.44047619
 0.38690476 0.57142857 0.57142857 0.8452381  0.83928571 0.36904762
 0.55952381 0.57738095 0.77380952 0.48809524 0.58333333 0.25
 0.53571429 0.5        0.33333333 0.45833333 0.30952381 0.82738095
 0.44642857 0.51785714 0.24404762 0.23809524 0.41666667 0.35714286
 0.625      0.4047619  0.63095238 0.44642857 0.52380952 0.26785714
 0.6547619  0.33928571 0.41071429 0.5        0.5297619  0.57738095
 0.6547619  0.18452381 0.20238095 0.25       0.38690476 0.38690476
 0.47619048 0.60714286 0.46428571 0.53571429 0.4702381  0.5
 0.36309524 0.38690476 0.28571429 0.32738095 0.80357143 0.38095238
 0.67857143 0.63095238 0.5        0.44642857 0.30952381 0.28571429
 0.66666667 0.60714286 0.46428571 0.44047619 0.54761905 0.54761905
 0.46428571 0.51785714 0.63690476 0.42261905 0.30952381 0.32142857
 0.19047619 0.33928571 0.50595238 0.36904762 0.39880952 0.38690476
 0.4047619  0.51785714 0.57142857 0.41071429 0.4702381  0.33333333
 0.45833333 0.46428571 0.41071429 0.51190476 0.44047619 0.60714286
 0.55357143 0.60714286 0.51190476 0.44047619 0.32142857 0.30952381
 0.42857143 0.41071429 0.375      0.41666667 0.29761905 0.35714286
 0.42857143 0.38095238 0.41666667 0.7202381  0.55952381 1.
 0.8452381  0.30952381 0.41071429 0.66666667 0.39880952 0.47619048
 0.19642857 0.29166667 0.30952381 0.39880952 0.64285714 0.44642857
 0.5        0.50595238 0.60119048 0.7202381  0.63690476 0.46428571
 0.44642857 0.56547619 0.41666667 0.42857143 0.58928571 0.38095238
 0.66666667 0.81547619 0.93452381 0.70833333 0.82142857 0.3452381
 0.55357143 0.5952381  0.43452381 0.20238095 0.26785714 0.42261905
 0.375      0.53571429 0.45833333 0.5        0.38095238 0.27380952
 0.29166667 0.5297619  0.5        0.48214286 0.58333333 0.67857143
 0.55357143 0.47619048 0.41071429 0.48809524 0.75595238 0.36904762
 0.46428571 0.38095238 0.52380952 0.4047619  0.61309524 0.73809524
 0.69047619 0.27380952 0.3452381  0.46428571 0.6547619  0.54166667
 0.51190476 0.69047619 0.63095238 0.5952381  0.48809524 0.47619048
 0.5952381  0.5        0.74404762 0.43452381 0.60714286 0.57142857
 0.39880952 0.55357143 0.38690476 0.38690476 0.5297619  0.41666667
 0.45833333 0.48809524 0.5        0.53571429 0.38690476 0.39880952
 0.35119048 0.29761905 0.55357143 0.45238095 0.98809524 0.21428571
 0.63095238 0.67857143]

## 5. Broadcasting
Increase all horsepower values by 10% and store the updated values in a new
NumPy array. Handle missing data (if any) by replacing it with the mean of the
column before applying the increase.

In [263]:
horsepower_array = data['horsepower'].to_numpy()

In [264]:
new_horsepower = horsepower_array *1.10

In [265]:
new_horsepower

array([143.  , 181.5 , 165.  , 165.  , 154.  , 217.8 , 242.  , 236.5 ,
       247.5 , 209.  , 187.  , 176.  , 165.  , 247.5 , 104.5 , 104.5 ,
       106.7 ,  93.5 ,  96.8 ,  50.6 ,  95.7 ,  99.  , 104.5 , 124.3 ,
        99.  , 236.5 , 220.  , 231.  , 212.3 ,  96.8 ,  99.  , 104.5 ,
       102.85, 110.  , 115.5 , 110.  ,  96.8 , 110.  , 181.5 , 192.5 ,
       168.3 , 165.  , 198.  , 187.  , 192.5 , 121.  ,  79.2 , 110.  ,
        96.8 ,  94.6 ,  99.  ,  77.  ,  83.6 ,  71.5 ,  75.9 ,  66.  ,
        77.  , 104.5 ,  88.  ,  59.4 ,  99.  ,  94.6 , 181.5 , 192.5 ,
       165.  , 168.3 , 165.  , 228.8 , 170.5 , 176.  , 209.  , 106.7 ,
       165.  , 143.  , 154.  , 165.  , 123.2 ,  83.6 ,  95.7 ,  75.9 ,
        94.6 , 101.2 , 106.7 ,  88.  ,  96.8 , 192.5 , 165.  , 159.5 ,
       150.7 , 165.  , 217.8 , 165.  , 173.8 , 165.  , 236.5 , 247.5 ,
       192.5 , 115.5 , 110.  , 110.  ,  96.8 , 104.5 ,  50.6 , 165.  ,
       183.7 , 187.  , 198.  , 110.  ,  96.8 ,  79.2 , 103.4 ,  99.  ,
        93.5 , 117.7 ,  99.  , 159.5 , 253.  ,  53.9 ,  82.5 , 100.1 ,
       123.2 , 165.  , 121.  , 134.2 , 198.  , 104.5 , 102.85, 110.  ,
       110.  ,  73.7 ,  88.  ,  71.5 ,  82.5 , 110.  , 121.  , 115.5 ,
       154.  , 165.  , 165.  , 154.  , 165.  ,  91.3 ,  73.7 ,  85.8 ,
        57.2 ,  67.1 ,  82.5 ,  82.5 ,  82.5 , 106.7 , 102.3 ,  73.7 ,
       104.5 , 115.5 ,  79.2 ,  79.2 , 187.  , 159.5 , 165.  , 162.8 ,
       121.  , 115.5 , 121.  , 104.5 , 121.  , 121.  , 141.9 ,  82.5 ,
        91.3 , 110.  ,  85.8 , 105.6 ,  78.1 , 106.7 , 106.7 ,  77.  ,
        99.  , 104.5 ,  96.8 , 107.8 , 126.5 ,  58.3 ,  94.6 ,  89.1 ,
       101.2 ,  86.9 ,  91.3 , 154.  , 165.  , 132.  , 167.2 , 110.  ,
       115.5 ,  89.1 ,  99.  ,  57.2 ,  66.  ,  77.  ,  58.3 , 110.  ,
        85.8 , 121.  , 104.5 ,  78.1 ,  77.  ,  82.5 ,  79.2 , 112.2 ,
       165.  ,  96.8 , 118.8 , 132.  , 198.  , 159.5 , 143.  , 165.  ,
        74.8 ,  88.  ,  63.8 , 105.6 ,  77.  , 159.5 , 121.  , 159.5 ,
       143.  , 121.  , 115.5 , 110.  , 107.8 , 198.  , 187.  , 209.  ,
       163.9 ,  85.8 ,  96.8 ,  82.5 ,  97.9 ,  69.3 ,  91.3 ,  73.7 ,
        85.8 , 106.7 , 121.  , 121.  ,  52.8 ,  72.6 ,  57.2 ,  77.  ,
        66.  , 121.  , 154.  , 152.9 , 115.5 , 104.5 ,  93.5 ,  96.8 ,
       110.  ,  99.  , 115.5 ,  93.5 , 121.  , 132.  , 159.5 , 181.5 ,
       152.9 , 154.  ,  74.8 , 104.5 , 106.7 ,  82.5 , 104.5 , 115.5 ,
        93.5 , 106.7 , 113.3 , 137.5 , 126.5 , 146.3 ,  78.1 ,  74.8 ,
       126.5 ,  93.5 ,  96.8 ,  99.  , 121.  , 143.  , 141.9 , 151.8 ,
       148.5 , 170.5 , 156.2 , 137.5 , 165.  ,  78.1 ,  71.5 ,  88.  ,
        88.  ,  84.7 , 137.5 ,  78.1 ,  99.  ,  77.  ,  77.  ,  71.5 ,
        75.9 ,  99.  , 126.5 , 126.5 ,  99.  ,  83.6 ,  66.  ,  77.  ,
        71.5 ,  99.  ,  96.8 ,  99.  ,  99.  ,  85.8 ,  99.  ,  82.5 ,
       101.2 ,  82.5 ,  71.5 , 115.5 ,  71.5 ,  52.8 ,  52.8 ,  73.7 ,
        73.7 ,  73.7 , 102.85,  73.7 ,  68.2 , 145.2 , 110.  ,  96.8 ,
       102.85,  79.2 ,  92.4 ,  92.4 , 101.2 , 121.  ,  92.4 ,  63.8 ,
        70.4 ,  66.  ,  73.7 ,  71.5 ,  68.2 ,  74.8 ,  69.3 ,  71.5 ,
        71.5 ,  81.4 , 102.85,  82.5 ,  82.5 , 110.  ,  81.4 ,  88.  ,
        83.6 , 127.6 , 132.  , 121.  , 115.5 ,  96.8 ,  93.5 ,  96.8 ,
        96.8 ,  96.8 ,  93.5 ,  92.4 ,  99.  , 101.2 , 102.85,  81.4 ,
        74.8 ,  74.8 ,  69.3 ,  77.  ,  96.8 ,  82.5 ,  77.  ,  73.7 ,
        73.7 ,  73.7 , 121.  ,  93.5 , 101.2 , 123.2 , 105.6 ,  92.4 ,
        99.  ,  94.6 ,  57.2 ,  92.4 ,  86.9 ,  90.2 ])

## 6. Boolean Indexing
Find the average displacement of cars with an origin of 2 (Europe) using NumPy
indexing.

In [266]:
displacement_array = data['displacement'].to_numpy()
displacement_array

array([307. , 350. , 318. , 304. , 302. , 429. , 454. , 440. , 455. ,
       390. , 383. , 340. , 400. , 455. , 113. , 198. , 199. , 200. ,
        97. ,  97. , 110. , 107. , 104. , 121. , 199. , 360. , 307. ,
       318. , 304. ,  97. , 140. , 113. ,  98. , 232. , 225. , 250. ,
       250. , 232. , 350. , 400. , 351. , 318. , 383. , 400. , 400. ,
       258. , 140. , 250. , 250. , 122. , 116. ,  79. ,  88. ,  71. ,
        72. ,  97. ,  91. , 113. ,  97.5,  97. , 140. , 122. , 350. ,
       400. , 318. , 351. , 304. , 429. , 350. , 350. , 400. ,  70. ,
       304. , 307. , 302. , 318. , 121. , 121. , 120. ,  96. , 122. ,
        97. , 120. ,  98. ,  97. , 350. , 304. , 350. , 302. , 318. ,
       429. , 400. , 351. , 318. , 440. , 455. , 360. , 225. , 250. ,
       232. , 250. , 198. ,  97. , 400. , 400. , 360. , 350. , 232. ,
        97. , 140. , 108. ,  70. , 122. , 155. ,  98. , 350. , 400. ,
        68. , 116. , 114. , 121. , 318. , 121. , 156. , 350. , 198. ,
       200. , 232. , 250. ,  79. , 122. ,  71. , 140. , 250. , 258. ,
       225. , 302. , 350. , 318. , 302. , 304. ,  98. ,  79. ,  97. ,
        76. ,  83. ,  90. ,  90. , 116. , 120. , 108. ,  79. , 225. ,
       250. , 250. , 250. , 400. , 350. , 318. , 351. , 231. , 250. ,
       258. , 225. , 231. , 262. , 302. ,  97. , 140. , 232. , 140. ,
       134. ,  90. , 119. , 171. ,  90. , 232. , 115. , 120. , 121. ,
       121. ,  91. , 107. , 116. , 140. ,  98. , 101. , 305. , 318. ,
       304. , 351. , 225. , 250. , 200. , 232. ,  85. ,  98. ,  90. ,
        91. , 225. , 250. , 250. , 258. ,  97. ,  85. ,  97. , 140. ,
       130. , 318. , 120. , 156. , 168. , 350. , 350. , 302. , 318. ,
        98. , 111. ,  79. , 122. ,  85. , 305. , 260. , 318. , 302. ,
       250. , 231. , 225. , 250. , 400. , 350. , 400. , 351. ,  97. ,
       151. ,  97. , 140. ,  98. ,  98. ,  97. ,  97. , 146. , 121. ,
        80. ,  90. ,  98. ,  78. ,  85. ,  91. , 260. , 318. , 302. ,
       231. , 200. , 200. , 140. , 225. , 232. , 231. , 200. , 225. ,
       258. , 305. , 231. , 302. , 318. ,  98. , 134. , 119. , 105. ,
       134. , 156. , 151. , 119. , 131. , 163. , 121. , 163. ,  89. ,
        98. , 231. , 200. , 140. , 232. , 225. , 305. , 302. , 351. ,
       318. , 350. , 351. , 267. , 360. ,  89. ,  86. ,  98. , 121. ,
       183. , 350. , 141. , 260. , 105. , 105. ,  85. ,  91. , 151. ,
       173. , 173. , 151. ,  98. ,  89. ,  98. ,  86. , 151. , 140. ,
       151. , 225. ,  97. , 134. , 120. , 119. , 108. ,  86. , 156. ,
        85. ,  90. ,  90. , 121. , 146. ,  91. ,  85. ,  97. ,  89. ,
       168. ,  70. , 122. , 140. , 107. , 135. , 151. , 156. , 173. ,
       135. ,  79. ,  86. ,  81. ,  97. ,  85. ,  89. ,  91. , 105. ,
        98. ,  98. , 105. , 100. , 107. , 108. , 119. , 120. , 141. ,
       145. , 168. , 146. , 231. , 350. , 200. , 225. , 112. , 112. ,
       112. , 112. , 135. , 151. , 140. , 151. , 105. ,  91. ,  91. ,
       105. ,  98. , 120. , 107. , 108. ,  91. ,  91. ,  91. , 181. ,
       262. , 156. , 232. , 144. , 135. , 151. , 140. ,  97. , 135. ,
       120. , 119. ])

In [267]:
origin_array = data['origin'].to_numpy()
origin_array

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 3, 2, 2, 2,
       2, 2, 1, 1, 1, 1, 1, 3, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 2, 2, 2, 3, 3, 2, 1, 3, 1, 2, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 2, 2, 2, 2, 1, 3, 3, 1, 3, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 3, 1,
       3, 3, 1, 1, 2, 1, 1, 2, 2, 2, 2, 1, 2, 3, 1, 1, 1, 1, 1, 3, 1, 3,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 3, 3, 1, 2, 2, 3, 3, 2, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 3, 2, 3, 1, 2,
       1, 2, 2, 2, 2, 3, 2, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2,
       3, 1, 1, 1, 1, 2, 3, 3, 1, 2, 1, 2, 3, 2, 1, 1, 1, 1, 3, 1, 2, 1,
       3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 3, 1, 1, 1, 3, 2, 3,
       2, 3, 2, 1, 3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 3, 3, 1, 3, 1, 1, 3, 2, 2, 2, 2, 2, 3, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 2, 3, 1, 1, 2, 1, 2, 1, 1, 1, 3, 2, 1, 1, 1,
       1, 2, 3, 1, 3, 1, 1, 1, 1, 2, 3, 3, 3, 3, 3, 1, 3, 2, 2, 2, 2, 3,
       2, 3, 2, 3, 3, 2, 1, 3, 1, 1, 1, 1, 1, 3, 1, 3, 3, 3, 3, 3, 1, 1,
       1, 2, 2, 3, 3, 3, 3, 2, 2, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 2, 3, 3, 1, 1, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 3, 1, 1, 1, 2, 1,
       1, 1])

In [268]:
europe_cars = np.where(origin_array == 2)     #indexing of origin
europe_cars

(array([ 19,  20,  21,  22,  23,  50,  51,  52,  55,  59,  76,  77,  78,
         79, 102, 114, 117, 118, 119, 120, 122, 141, 142, 143, 147, 148,
        151, 172, 175, 177, 178, 179, 180, 182, 183, 186, 197, 203, 207,
        209, 211, 218, 233, 240, 242, 244, 274, 275, 276, 277, 278, 293,
        297, 299, 304, 309, 317, 325, 326, 327, 328, 330, 332, 335, 353,
        354, 359, 360, 375, 394]),)

In [269]:
displacements = displacement_array[europe_cars]
displacements

array([ 97., 110., 107., 104., 121., 116.,  79.,  88.,  97.,  97., 121.,
       121., 120.,  96.,  97.,  98.,  68., 116., 114., 121., 121.,  98.,
        79.,  97.,  90., 116.,  79.,  90.,  90., 115., 120., 121., 121.,
       107., 116., 101.,  90.,  97., 130., 120., 168.,  79.,  97.,  97.,
       121.,  90., 131., 163., 121., 163.,  89.,  89., 183., 141.,  91.,
        98.,  97.,  90.,  90., 121., 146.,  85.,  89., 122., 105., 100.,
       141., 145., 105.,  97.])

In [270]:
average_displacement = np.mean(displacements)

In [271]:
print ('Average displacement of European cars is  ',average_displacement)

Average displacement of European cars is   109.14285714285714

## Matrix Operations
Create a 2D NumPy array containing the columns mpg, horsepower, and weight.
Compute the dot product of this matrix with a given vector [1, 0.5, -0.2].

In [272]:
mpg_array = data['mpg'].to_numpy()

In [273]:
horsepower_array = data['horsepower'].to_numpy()

In [274]:
weight_array = data['weight'].to_numpy()

In [275]:
matrix = np.array([[mpg_array],[horsepower_array],[weight_array]])

In [276]:
new_matrix = matrix.T

In [277]:
new_matrix

array([[[  18.,  130., 3504.]],

       [[  15.,  165., 3693.]],

       [[  18.,  150., 3436.]],

       ...,

       [[  32.,   84., 2295.]],

       [[  28.,   79., 2625.]],

       [[  31.,   82., 2720.]]])

In [278]:
vector = np.array([1, 0.5, -0.2])

In [279]:
vector

array([ 1. ,  0.5, -0.2])

In [280]:
dot_product = np.dot(new_matrix, vector)

In [281]:
dot_product

array([[-617.8 ],
       [-641.1 ],
       [-594.2 ],
       [-595.6 ],
       [-602.8 ],
       [-754.2 ],
       [-746.8 ],
       [-740.9 ],
       [-758.5 ],
       [-660.  ],
       [-612.6 ],
       [-627.8 ],
       [-662.2 ],
       [-490.7 ],
       [-402.9 ],
       [-497.1 ],
       [-488.3 ],
       [-453.9 ],
       [-355.  ],
       [-318.  ],
       [-465.9 ],
       [-417.  ],
       [-402.5 ],
       [-364.3 ],
       [-463.6 ],
       [-805.5 ],
       [-765.2 ],
       [-760.4 ],
       [-840.9 ],
       [-355.  ],
       [-379.8 ],
       [-373.1 ],
       [-337.45],
       [-457.8 ],
       [-619.3 ],
       [-598.8 ],
       [-597.4 ],
       [-589.6 ],
       [-745.3 ],
       [-791.3 ],
       [-740.3 ],
       [-730.2 ],
       [-889.  ],
       [-851.2 ],
       [-927.5 ],
       [-519.4 ],
       [-423.6 ],
       [-587.4 ],
       [-565.8 ],
       [-378.  ],
       [-351.6 ],
       [-349.8 ],
       [-345.  ],
       [-291.1 ],
       [-253.1 ],
       [-309.8 ],
       [-330.  ],
       [-384.1 ],
       [-360.2 ],
       [-400.8 ],
       [-416.6 ],
       [-381.2 ],
       [-759.3 ],
       [-775.5 ],
       [-737.  ],
       [-735.3 ],
       [-642.4 ],
       [-811.6 ],
       [-809.9 ],
       [-799.2 ],
       [-776.4 ],
       [-398.5 ],
       [-688.4 ],
       [-741.6 ],
       [-775.8 ],
       [-726.4 ],
       [-512.6 ],
       [-442.2 ],
       [-531.3 ],
       [-377.3 ],
       [-414.  ],
       [-383.6 ],
       [-429.7 ],
       [-364.8 ],
       [-349.  ],
       [-719.5 ],
       [-645.4 ],
       [-712.1 ],
       [-725.9 ],
       [-665.4 ],
       [-879.4 ],
       [-804.8 ],
       [-780.6 ],
       [-758.4 ],
       [-826.5 ],
       [-865.7 ],
       [-663.7 ],
       [-553.7 ],
       [-589.6 ],
       [-521.  ],
       [-542.2 ],
       [-510.3 ],
       [-341.  ],
       [-913.4 ],
       [-885.7 ],
       [-832.8 ],
       [-797.8 ],
       [-489.8 ],
       [-391.8 ],
       [-423.2 ],
       [-406.8 ],
       [-361.8 ],
       [-400.5 ],
       [-419.9 ],
       [-382.  ],
       [-728.9 ],
       [-724.6 ],
       [-319.9 ],
       [-370.1 ],
       [-450.9 ],
       [-498.6 ],
       [-589.8 ],
       [-453.  ],
       [-480.4 ],
       [-631.8 ],
       [-552.9 ],
       [-507.25],
       [-511.2 ],
       [-602.2 ],
       [-325.5 ],
       [-424.2 ],
       [-302.7 ],
       [-445.9 ],
       [-690.2 ],
       [-655.4 ],
       [-652.1 ],
       [-742.2 ],
       [-851.8 ],
       [-802.4 ],
       [-843.6 ],
       [-762.4 ],
       [-373.3 ],
       [-333.1 ],
       [-395.  ],
       [-272.8 ],
       [-338.1 ],
       [-359.5 ],
       [-360.1 ],
       [-385.7 ],
       [-425.3 ],
       [-405.7 ],
       [-335.5 ],
       [-586.3 ],
       [-621.3 ],
       [-635.4 ],
       [-580.6 ],
       [-832.6 ],
       [-800.5 ],
       [-808.6 ],
       [-843.4 ],
       [-709.4 ],
       [-710.9 ],
       [-676.  ],
       [-691.5 ],
       [-531.8 ],
       [-569.2 ],
       [-556.3 ],
       [-367.7 ],
       [-463.3 ],
       [-512.8 ],
       [-456.4 ],
       [-468.4 ],
       [-384.1 ],
       [-436.5 ],
       [-530.3 ],
       [-323.4 ],
       [-578.2 ],
       [-468.3 ],
       [-524.4 ],
       [-518.  ],
       [-451.7 ],
       [-299.5 ],
       [-421.8 ],
       [-378.5 ],
       [-443.4 ],
       [-385.5 ],
       [-371.9 ],
       [-755.5 ],
       [-747.  ],
       [-716.9 ],
       [-752.5 ],
       [-574.6 ],
       [-596.1 ],
       [-537.9 ],
       [-549.5 ],
       [-352.  ],
       [-378.3 ],
       [-323.4 ],
       [-299.5 ],
       [-660.2 ],
       [-657.8 ],
       [-655.5 ],
       [-573.6 ],
       [-300.  ],
       [-331.  ],
       [-365.5 ],
       [-450.5 ],
       [-559.  ],
       [-700.  ],
       [-591.  ],
       [-513.  ],
       [-687.5 ],
       [-769.5 ],
       [-725.5 ],
       [-696.  ],
       [-663.  ],
       [-343.5 ],
       [-361.  ],
       [-300.  ],
       [-386.5 ],
       [-320.5 ],
       [-686.  ],
       [-740.  ],
       [-740.  ],
       [-779.  ],
       [-631.5 ],
       [-612.  ],
       [-657.  ],
       [-637.5 ],
       [-738.  ],
       [-732.5 ],
       [-754.5 ],
       [-776.5 ],
       [-320.  ],
       [-479.5 ],
       [-389.5 ],
       [-481.  ],
       [-348.2 ],
       [-340.  ],
       [-333.5 ],
       [-368.5 ],
       [-492.5 ],
       [-443.5 ],
       [-467.5 ],
       [-329.9 ],
       [-290.9 ],
       [-338.2 ],
       [-339.6 ],
       [-293.9 ],
       [-598.1 ],
       [-657.6 ],
       [-624.3 ],
       [-635.3 ],
       [-563.  ],
       [-530.3 ],
       [-474.9 ],
       [-615.5 ],
       [-577.6 ],
       [-602.9 ],
       [-550.7 ],
       [-650.4 ],
       [-603.9 ],
       [-593.3 ],
       [-588.8 ],
       [-553.4 ],
       [-728.5 ],
       [-367.  ],
       [-437.  ],
       [-384.3 ],
       [-377.6 ],
       [-434.4 ],
       [-473.3 ],
       [-504.7 ],
       [-408.6 ],
       [-494.2 ],
       [-548.5 ],
       [-479.9 ],
       [-599.3 ],
       [-331.  ],
       [-363.5 ],
       [-570.  ],
       [-535.7 ],
       [-511.7 ],
       [-587.8 ],
       [-596.4 ],
       [-686.  ],
       [-662.9 ],
       [-705.5 ],
       [-680.3 ],
       [-777.6 ],
       [-724.3 ],
       [-639.3 ],
       [-694.5 ],
       [-317.6 ],
       [-328.4 ],
       [-307.3 ],
       [-466.6 ],
       [-642.1 ],
       [-694.5 ],
       [-575.3 ],
       [-615.1 ],
       [-370.8 ],
       [-360.5 ],
       [-339.7 ],
       [-354.2 ],
       [-460.6 ],
       [-432.7 ],
       [-455.7 ],
       [-432.7 ],
       [-349.3 ],
       [-325.5 ],
       [-356.9 ],
       [-334.1 ],
       [-462.6 ],
       [-503.6 ],
       [-531.3 ],
       [-612.1 ],
       [-364.3 ],
       [-467.4 ],
       [-439.6 ],
       [-403.8 ],
       [-383.3 ],
       [-342.9 ],
       [-479.6 ],
       [-348.7 ],
       [-348.7 ],
       [-399.6 ],
       [-520.1 ],
       [-586.5 ],
       [-291.9 ],
       [-279.35],
       [-361.7 ],
       [-308.2 ],
       [-483.3 ],
       [-410.3 ],
       [-421.  ],
       [-510.65],
       [-389.6 ],
       [-428.8 ],
       [-458.4 ],
       [-452.2 ],
       [-466.5 ],
       [-405.  ],
       [-282.9 ],
       [-304.  ],
       [-286.9 ],
       [-347.2 ],
       [-325.5 ],
       [-341.3 ],
       [-328.9 ],
       [-376.8 ],
       [-342.1 ],
       [-413.6 ],
       [-368.  ],
       [-382.75],
       [-370.8 ],
       [-400.1 ],
       [-440.1 ],
       [-458.4 ],
       [-577.9 ],
       [-563.3 ],
       [-496.6 ],
       [-501.8 ],
       [-605.6 ],
       [-665.9 ],
       [-547.8 ],
       [-632.9 ],
       [-449.  ],
       [-457.  ],
       [-401.  ],
       [-441.5 ],
       [-434.  ],
       [-475.  ],
       [-503.  ],
       [-537.25],
       [-323.  ],
       [-334.  ],
       [-329.  ],
       [-355.5 ],
       [-354.  ],
       [-352.  ],
       [-367.5 ],
       [-380.  ],
       [-321.5 ],
       [-327.5 ],
       [-327.5 ],
       [-509.  ],
       [-522.5 ],
       [-445.  ],
       [-489.  ],
       [-453.  ],
       [-396.  ],
       [-518.  ],
       [-488.  ],
       [-356.  ],
       [-385.  ],
       [-457.5 ],
       [-472.  ]])

## 8. Sorting
Use NumPy to sort the cars by model_year in descending order and display the first
f
ive car names.

In [282]:
modelyear_array = data['model year'].to_numpy()
carname_array = data['car name'].to_numpy()

In [283]:
sorted_array = np.sort(modelyear_array)[::-1]
sorted_array

array([82, 82, 82, 82, 82, 82, 82, 82, 82, 82, 82, 82, 82, 82, 82, 82, 82,
       82, 82, 82, 82, 82, 82, 82, 82, 82, 82, 82, 82, 82, 82, 81, 81, 81,
       81, 81, 81, 81, 81, 81, 81, 81, 81, 81, 81, 81, 81, 81, 81, 81, 81,
       81, 81, 81, 81, 81, 81, 81, 81, 81, 80, 80, 80, 80, 80, 80, 80, 80,
       80, 80, 80, 80, 80, 80, 80, 80, 80, 80, 80, 80, 80, 80, 80, 80, 80,
       80, 80, 80, 80, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79,
       79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 78,
       78, 78, 78, 78, 78, 78, 78, 78, 78, 78, 78, 78, 78, 78, 78, 78, 78,
       78, 78, 78, 78, 78, 78, 78, 78, 78, 78, 78, 78, 78, 78, 78, 78, 78,
       78, 77, 77, 77, 77, 77, 77, 77, 77, 77, 77, 77, 77, 77, 77, 77, 77,
       77, 77, 77, 77, 77, 77, 77, 77, 77, 77, 77, 77, 76, 76, 76, 76, 76,
       76, 76, 76, 76, 76, 76, 76, 76, 76, 76, 76, 76, 76, 76, 76, 76, 76,
       76, 76, 76, 76, 76, 76, 76, 76, 76, 76, 76, 76, 75, 75, 75, 75, 75,
       75, 75, 75, 75, 75, 75, 75, 75, 75, 75, 75, 75, 75, 75, 75, 75, 75,
       75, 75, 75, 75, 75, 75, 75, 75, 74, 74, 74, 74, 74, 74, 74, 74, 74,
       74, 74, 74, 74, 74, 74, 74, 74, 74, 74, 74, 74, 74, 74, 74, 74, 74,
       74, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73,
       73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73,
       73, 73, 73, 73, 73, 73, 73, 72, 72, 72, 72, 72, 72, 72, 72, 72, 72,
       72, 72, 72, 72, 72, 72, 72, 72, 72, 72, 72, 72, 72, 72, 72, 72, 72,
       72, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71,
       71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 70, 70, 70, 70, 70,
       70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70,
       70, 70, 70, 70, 70, 70, 70])

In [284]:
top_cars = carname_array[sorted_array][0:5]
top_cars

array(['toyouta corona mark ii (sw)', 'toyouta corona mark ii (sw)',
       'toyouta corona mark ii (sw)', 'toyouta corona mark ii (sw)',
       'toyouta corona mark ii (sw)'], dtype=object)

In [285]:
print('top 5 latest cars: ')
for name in top_cars:
  print(name)

top 5 latest cars:
toyouta corona mark ii (sw)
toyouta corona mark ii (sw)
toyouta corona mark ii (sw)
toyouta corona mark ii (sw)
toyouta corona mark ii (sw)

## 9. Correlation
Compute the Pearson correlation coefficient between mpg and weight using
NumPy.

In [286]:
data = np.genfromtxt('auto-mpg.csv', delimiter=',', skip_header=1)

In [287]:
mpg = data[:,0]
weight = data[:,4]

In [288]:
correlation_matrix = np.corrcoef(mpg,weight) # np.corrcoef() returns correlation matrix

In [289]:
pearson_coef = correlation_matrix[0, 1]

In [290]:
print ('Pearson coefficient is ', pearson_coef)

Pearson coefficient is  -0.8317409332443352

## 10.  Conditional Aggregates
Calculate the mean mpg for cars grouped by the number of cylinders using NumPy
techniques.

In [291]:
unique_cylinders = np.unique(cylinders_array)
unique_cylinders

array([3, 4, 5, 6, 8])

In [292]:
for c in unique_cylinders:
  mpg_mean = np.mean(mpg_array[cylinders_array == c])
  print(f'Cylinders :{c}, mean mpg is {mpg_mean}')

Cylinders :3, mean mpg is 20.55
Cylinders :4, mean mpg is 29.28676470588235
Cylinders :5, mean mpg is 27.366666666666664
Cylinders :6, mean mpg is 19.985714285714284
Cylinders :8, mean mpg is 14.963106796116506